.card {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	min-height: 3.625rem;
	background: var(--surface);
	overflow: hidden;
	width: 100%;
	height: 3.625rem;

	&[data-only-body='false'] {
		@media (min-width: 720px) {
			background: var(--background);
			border-radius: 1.25rem;
		}
	}

	/* &[data-only-body='true'] {
		height: auto;
	} */
}

.cardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	height: 3.625rem;
	width: 100%;
	padding: 0 1rem;

	&:hover {
		background: rgba(0, 0, 0, 0.02);
	}
}

.content {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.flagWrapper {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: var(--background);
	overflow: hidden;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.125rem;
}

.title {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem;
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.price {
	font-size: var(--font-caption-size);
	font-weight: var(--font-caption-weight);
	line-height: var(--font-caption-line-height);
	letter-spacing: var(--font-caption-letter-spacing);
}